<div class="user-manager">
  <div class="ui segment">
    <br/>
    <h1>User Management</h1>
    <div>
      <table class="ui compact celled definition table">
        <thead class="full-width ui inverted table">
          <tr class="ui">
            <th>Role</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Registration Date</th>
            <th>E-mail address</th>
            <th>Permissions</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of Users">
            <td class="collapsing">{{user.role}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.entry_date}}</td>
            <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
            <td>{{user.permissions[0]}}</td>
            <td>
              <button (click)='openModal(".ui.viewModal")' class="ui icon button">
                <i class="eye icon green"></i>
              </button>
              <button class="ui icon button">
                <i class="edit icon blue"></i>
              </button>
              <button class="ui icon button" (click)='openModal(".ui.basic.modal.deleteUserModal")'>
                <i class="trash icon red"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="6">
              <div class="ui right floated small primary labeled icon button">
                <i class="add user icon"></i> Add User
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div class="ui basic modal deleteUserModal">
    <div class="header">Confirm User Delete</div>

    <div class="content">
      <p></p>
    </div>
    <div class="actions">
      <div class="ui approve button" (click)='deleteUser("1")'>
        <i class="huge icons">
          <i class="red trash icon"></i>
        </i>
      </div>
      <div class="ui cancel button">
        <i class="huge icons">
          <i class="black remove circle icon"></i>
        </i>
      </div>
    </div>


  </div>

</div>
