<div class="ui middle aligned center aligned grid login">
  <div class="column">
    <div class="ui card centered raised stackable">
      <div class="ui tiny">
        <div class="ui fluid centered Mini image">
          <img src="../assets/nambts_logo.png" alt="nambts Logo">
        </div>
      </div>
      <div class="content">
        <div class="ui horizontal divider">
          Login
        </div>
        <form [formGroup]="loginForm" novalidate class="ui center large form">
          <div class="form-group">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" formControlName="username" name="username" placeholder="Username">
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                <input type="password" name="password" formControlName="password" placeholder="Password">
              </div>
            </div>
            <div class="field">
              <label>Role</label>
              <select class="ui dropdown" formControlName="role" name="role">
                <option value="Doctor"><i class="doctor blue icon"></i>Doctor</option>
                <option value="Donor"><i class="theme red icon"></i>Donor</option>
                <option value="Admin"><i class="user green icon"></i>Admin</option>
              </select>
            </div>
            <div class="ui fluid large red submit button" (click)='login(loginForm.value)' >Login</div>
            <div class="ui error message"></div>
          </div>

        </form>
      </div>


    </div>

  </div>
</div>
