<div class="ui app-root">
  <div class="ui inverted red fixed menu">
    <a class="blue item doctor" routerLink="/dashboard"><i class="home icon"></i>Dashboard </a>
    <a class="blue item" routerLink="/donate-blood"><i class="theme icon"></i>Donate Blood</a>
    <a class="blue item admin" routerLink="/blood-bank"><i class="add circle icon"></i>Blood Banks</a>
    <a class="ui dropdown item">
      <i class="hospital icon"></i>Blood Camps <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" routerLink="/remote"><i class="ambulance icon"></i>Remote Camps</a>
        <a class="item" routerLink="/camps"><i class="hospital icon"></i>Fixed Camps</a>
      </div>
    </a>
    <a class="blue item doctor" routerLink="/request"><i class="question circle icon"></i>Request Blood</a>
    <a class="blue item doctor" routerLink="/donations"><i class="list icon"></i>Donations</a>
    <a class="blue item Super_Admin" routerLink="/user-manager"><i class="user icon"></i>User Management</a>
    <a class="blue item" routerLink="/about"><i class="info circle icon"></i>About</a>

    <a class="item right">
        <i class="doctor icon big"></i>|&nbsp;
        <a class="pointing ui dropdown dd">&#160; {{User.firstName}} {{User.lastName}}
          <div class="menu hidden">
            <div class="item" routerLink="/user-manager">Profile</div>
            <div class="ui divider"></div>
            <div class="item" (click)="logout()">Logout</div>
          </div>
        </a>
    </a>
  </div>
  <div class="ui">
    <br/><br/>
    <router-outlet></router-outlet>
  </div>
</div>
