<div>
  <div class="ui segment">
    <br/>
    <div class="ui segment">
      <h1 id="chart-container center Bold">Donations</h1>
      <div class="column"  style="float: right; padding-bottom: 1%;">
          <div class="ui search searchDonations">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search ...">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
      </div>
      <!--  Donations Table -->

      <div>
        <table class="ui compact celled definition table">
          <thead class="full-width ui inverted table">
            <tr class="ui">
              <th>ID</th>
              <th>Gender</th>
              <th>Full Name</th>
              <th>Date of Birth</th>
              <th>Town</th>
              <th>Occupation</th>
              <th>Cell Number</th>
              <th>Postal Address</th>
              <th>Home Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let app of Donations">
              <td>{{app.personalInfo.idNumber}}</td>
              <td class="collapsing">
                <button class="ui icon button" id={{app.personalInfo.idNumber}}>
                  <i class="female icon pink" [hidden]='app.personalInfo.gender == "Male"'></i>
                  <i class="male icon blue" [hidden]='app.personalInfo.gender == "Female"'></i>
                </button>
              </td>
              <td>{{app.personalInfo.title}}. {{app.personalInfo.firstName}} {{app.personalInfo.lastName}}</td>
              <td>{{app.personalInfo.dateOfBirth || 'N/A'}}</td>
              <td>{{app.personalInfo.town}}</td>
              <td>{{app.personalInfo.occupation}}</td>
              <td>{{app.personalInfo.cellNumber.code}} {{app.personalInfo.cellNumber.number}}</td>
              <td>{{app.personalInfo.postalAddress}}</td>
              <td>{{app.personalInfo.homeAddress}}</td>
              <td>
                <button class="ui icon button" id={{app.personalInfo.idNumber}}>
                  <i class="eye icon red"></i>
                </button>
              </td>

            </tr>
          </tbody>

        </table>
      </div>

      <!--  Donations Table ends -->
    </div>
  </div>

</div>
ˀ
