<div>
  <div class="ui segment">
    <br/>
    <div class="ui segment">
      <h1 id="chart-container center Bold">Blood Counts</h1>
      <div class="ui grid">
        <div class="doubling two column row">
          <div style="display: block" class="column">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="bar"></canvas>
          </div>
          <div style="display: block" class="column">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="lineChartOptions" [legend]="barChartLegend"
              [chartType]="line"></canvas>
          </div>
          <div style="display: block" class="column">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="pieChartOptions" [legend]="barChartLegend"
              [chartType]="pie"></canvas>
          </div>
          <div style="display: block" class="column">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="doughnutChartOptions" [legend]="barChartLegend"
              [chartType]="doughnut"></canvas>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
