<div class="ui donorForm segment">
  <br/>
  <div class="center aligned grid middle">
    <h4 class="ui left floated header">PLEASE READ CAREFULLY AND ANSWER ALL THE QUESTIONS ACCURATELY AND HONESTLY</h4>
    <br/>
  </div>
  <div>
    <div name="static_headers" class="ui sticky">
      <div class="ui four attached menu steps horizontal">
        <a class="active step personalInfoStep" data-tab="personalInfo">
                <i class="address card icon red"></i>
                <div class="content">
                    <div class="title">Personal Information</div>
                    <!--<div class="description">Choose your shipping options</div>-->
                </div>
            </a>
        <a class="step healthInfoStep" data-tab="healthInfo">
                <i class="heartbeat icon red"></i>
                <div class="content">
                    <div class="title">Health Information</div>
                    <!--<div class="description">Enter billing information</div>-->
                </div>
            </a>
        <a class="step riskInfoStep" data-tab="riskBeaviour">
                <i class="warning sign icon red"></i>
                <div class="content">
                    <div class="title">Risk Behaviour</div>
                    <!--<div class="description">Verify order details</div>-->
                </div>
            </a>
        <a class="step declarationInfoStep" data-tab="declarationInfo">
                <i class="edit icon red"></i>
                <div class="content">
                    <div class="title">Declaration</div>
                    <!--<div class="description">Verify order details</div>-->
                </div>
            </a>
      </div>

    </div>
    <br/>
    <div class="lightslategrey formSegment">
      <form class="ui form" [formGroup]="donorForm" novalidate (ngSubmit)="submitForm(donorForm)">

        <!-- PERSONAL INFORMATION SEGMENT -->
        <div formGroupName="personalInfo" data-tab="personalInfo" id="personalInformation" class="ui tab active segment personalInformation">
          <h5 class="ui dividing red header">Personal</h5>
          <div class="field">
            <div class="fields">
              <div class="three ui wide field">
                <label>Title</label>
                <select class="ui dropdown" formControlName="title" name="title">
                    <option value="">Title</option>
                    <option value="Mr">Mr.</option>
                    <option value="Mrs">Mrs.</option>
                    <option value="Ms">Ms.</option>
                    <option value="Miss">Miss</option>
                  </select>
              </div>

              <div class="twelve ui wide field required">
                <label>First Name</label>
                <input type="text" name="firstName" formControlName="firstName" placeholder="First Name" required>
              </div>

              <div class="twelve ui wide field">
                <label>Maiden Name</label>
                <input type="text" name="maidenName" formControlName="maidenName" placeholder="Maiden Name">
              </div>

              <div class="twelve ui wide field required">
                <label>Last Name</label>
                <input type="text" name="lastName" formControlName="lastName" placeholder="Last Name" required>
              </div>

              <div class="twelve ui wide field required">
                <label>ID Number</label>
                <input type="text" name="idNumber" formControlName="idNumber" placeholder="ID Number" required>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
              <div class="three ui calendar wide field required" id="dateOfBirth">
                <label>Date Of Birth</label>
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" formControlName="dateOfBirth" placeholder="Date of Birth">
                </div>
              </div>

              <div class="three ui wide field">
                <label>Gender</label>
                <select class="ui dropdown" formControlName="gender" name="gender">
                <option value="">Gender</option>
                <option value="Male"><i class="male icon"></i>Male</option>
                <option value="Female"><i class="female icon"></i>Female</option>
              </select>
              </div>

              <div class="four ui wide field">
                <label>Language</label>
                <select class="ui dropdown fluid search" formControlName="language" multiple="" name="language">
                <option value="">Language</option>
                <option value="English">English</option>
                <option value="Oshiwambo">Oshiwambo</option>
                <option value="Afrikaans">Afrikaans</option>
                <option value="Otjiherero">Otjiherero</option>
                <option value="Damara/Nama">Damara/Nama</option>
                <option value="German">German</option>
                <option value="Other">Other</option>
              </select>
              </div>
              <div class="four ui wide field">
                <label>Town</label>
                <select class="ui dropdown fluid search" formControlName="town" name="town">
                    <option value=""><i class=""></i>Select Town</option>
                    <option value="Windhoek">Windhoek</option>
                    <option value="Oshakati">Oshakati</option>
                    <option value="Otavi">Otavi</option>
                    <option value="Walvis Bay">Walvis Bay</option>
                    <option value="Ongwediva">Ongwediva</option>
                    <option value="Luderitz">Luderitz</option>
                    <option value="Henties Bay">Henties Bay</option>
                    <option value="Keetmanshoop">Keetmanshoop</option>
                    <option value="Outapi">Outapi</option>
                    <option value="Ondangwa">Ondangwa</option>
                    <option value="Okahandja">Okahandja</option>
                    <option value="Otjiwarongo">Otjiwarongo</option>
                    <option value="Tsumeb">Tsumeb</option>
                    <option value="Grootfontein">Grootfontein</option>
                    <option value="Windhoek">Other</option>
                  </select>
              </div>
              <div class="four ui wide field">
                <label>Population Group</label>
                <select class="ui dropdown" formControlName="populationGroup" name="populationGroup">
                <option value="">Population Group</option>
                <option value="Asian">Asian</option>
                <option value="African">African</option>
                <option value="Coloured">Coloured</option>
                <option value="Caucasian">Caucasian</option>
                <option value="Indian">Indian</option>
                <option value="Other">Other</option>
              </select>
              </div>
            </div>
          </div>
          <h4 class="ui dividing red header">Address Information</h4>
          <div class="field">
            <div class="fields">
              <div class="four ui wide field">
                <label class="default text">Postal Address</label>
                <input type="text" formControlName="postalAddress" name="postalAddress">
              </div>
              <div class="four ui wide field">
                <label class="default text">Home Address</label>
                <input type="text" formControlName="homeAddress" name="homeAddress">
              </div>
              <div class="four ui wide field">
                <label class="default text">Work Address</label>
                <input type="text" formControlName="workAddress" name="workAddress">
              </div>
              <div class="four ui wide field">
                <label class="default text">Occupation</label>
                <input type="text" formControlName="occupation" name="occupation">
              </div>
            </div>
          </div>
          <div class="field">
            <div class="fields">
              <div class="four ui wide field" formGroupName="homeNumber">
                <label class="default text">Home Number</label>
                <div class="ui labeled input">
                  <div class="ui label">
                    +264
                  </div>
                  <input type="tel" formControlName="number" name="homeNumber">
                </div>
              </div>

              <div class="four ui wide field" formGroupName="workNumber">
                <label class="default text">Work Number</label>
                <div class="ui labeled input">
                  <div class="ui label">
                    +264
                  </div>
                  <input type="tel" formControlName="number" name="workNumber">
                </div>
              </div>

              <div class="four ui wide field" formGroupName="cellNumber">
                <label class="default text">Cell Number</label>
                <div class="ui labeled input">
                  <div class="ui label">
                    +264
                  </div>
                  <input type="tel" formControlName="number" name="cellNumber">
                </div>
              </div>


              <div class="four ui wide field">
                <label class="default text">Email</label>
                <input type="email" formControlName="email" name="email">
              </div>
            </div>
          </div>

          <h4 class="ui dividing red header">Medical/Emergency Information</h4>

          <div class="field">
            <div class="three fields" formGroupName="familyDoctor">
              <div class="four ui wide field">
                <label class="default text">Name of Family Doctor</label>
                <input type="text" formControlName="firstName" name="firstName">
              </div>
              <div class="four ui wide field">
                <label class="default text">Last Name of Family Doctor</label>
                <input type="text" formControlName="lastName" name="lastName">
              </div>
              <div class="four ui wide field" formGroupName="contactNumber">
                <label class="default text">Contact Number of Family Doctor</label>
                <div class="ui labeled input">
                  <div class="ui label">
                    +264
                  </div>
                  <input type="tel" formControlName="number" name="contactNumber">
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="three fields" formGroupName="emergencyContact">
              <div class="four ui wide field">
                <label class="default text">Name of Emergency Contact</label>
                <input type="text" formControlName="firstName" name="firstName">
              </div>
              <div class="four ui wide field">
                <label class="default text">Last Name of Emergency Contact</label>
                <input type="text" formControlName="lastName" name="lastName">
              </div>
              <div class="four ui wide field" formGroupName="contactNumber">
                <label class="default text">Contact Number of Emergency Contact</label>
                <div class="ui labeled input">
                  <div class="ui label">
                    +264
                  </div>
                  <input type="tel" formControlName="number" name="contactNumber">
                </div>
              </div>
            </div>
          </div>

          <h5 class="ui dividing red header">Other Donations</h5>
          <br/>
          <div class="field">
            <div class="ui fields">
              <div class="field">
                <div class="ui toggle checkbox subFormToggle red" (click)="(revealSubForm())">
                  <label>Last donation given outside Namibia?</label>
                  <input type="checkbox" name="gift" tabindex="0" id="subFormToggle" class="hidden">
                </div>
              </div>
            </div>

            <div class="ui inline segment" id="subForm" formGroupName="lastDonationInNamibia">
              <div class="ui required fields">
                <div class="four ui wide field">
                  <label class="default text">Location</label>
                  <input type="text" formControlName="location" tabindex="0">
                </div>

                <div class="four ui wide field">
                  <label class="default text">Previous Address</label>
                  <input type="text" formControlName="previousAddress" tabindex="0">
                </div>

                <div class="ui calendar four wide field required" id="injectionDate">
                  <label>Date</label>
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" formControlName="date" placeholder="Date">
                  </div>
                </div>

                <div class="four ui wide field">
                  <label class="default text">Shots Given</label>
                  <input type="number" formControlName="howManyDonationGiven" tabindex="0">
                </div>
              </div>
            </div>
            <br/>

          </div>

          <div class="ui animated button fade red right large" (click)="(changePage('.personalInformation'))">
            <div class="visible content">Next</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </div>

        </div>
        <!-- END -->


        <!-- HEALTH INFO SEGMENT -->
        <div class="health_info tab ui segment" formGroupName="healthInfo" data-tab="healthInfo">
          <h5 class="ui dividing red header">HEALTH QUESTIONNAIRE: Your safety is as important to us as the safety of the patient</h5>
          <div class="ui right stackable two column grid">
            <div class="row">
              <div class="column">
                <table class="ui compact table">
                  <thead class="full-width">
                    <tr>
                      <th>Question</th>
                      <th>Yes</th>
                      <th>No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Are you feeling well & in good health today?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="feelingWellandInGooHealth" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="feelingWellandInGooHealth" value="No">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Have you eaten in the last 4 hours?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="eatenInLastFourHours" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="eatenInLastFourHours" value="No">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Have you ever been refused as a blood donor or told not to donate?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="everBeenRefusedAsBloodDonor" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="everBeenRefusedAsBloodDonor" value="No">
                        </div>
                      </td>
                    </tr>
                    <tr class="active">
                      <td colspan="3" style="color: blue">
                        Are you involved in an activity/occupation that might endager you or anyone else, should you become light headed or faint
                        such as:
                      </td>
                    </tr>
                    <tr>
                      <td>Driving public transport or heavy duty vehicle, working on scaffolding or working with machinery?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="drivingPublicTransport" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="drivingPublicTransport" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>Piloting an aircraft, skydiving, deep-sea diving or mountaineering?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="pilotingAircraft" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="pilotingAircraft" value="No">
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td>Are you expecting to undergo an operation in the next 2 months?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="operationInNextTwoMonths" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="operationInNextTwoMonths" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr class="active">
                      <td colspan="3" style="color: blue">
                        Have you ever:
                      </td>
                    </tr>

                    <tr>
                      <td>Participated in a drug/vaccine trial?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="participatedInDrugTrial" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="participatedInDrugTrial" value="No">
                        </div>
                      </td>
                    </tr>



                    <tr>
                      <td>Taken Tigason or Neotigason?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="takenTigasonOrNeotigason" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="takenTigasonOrNeotigason" value="No">
                        </div>
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
              <div class="column">
                <table class="ui compact table">
                  <thead class="full-width">
                    <tr>
                      <th>Question</th>
                      <th>Yes</th>
                      <th>No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="active">
                      <td colspan="3" style="color: blue">
                        During the last 7 days:
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Have you take asprin, painkillers, or anti-inflammatorymedication (Compral, Grandpa)?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="takenMedication" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="takenMedication" value="No">
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>Have you been to the dentist?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="beenToTheDentist" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="beenToTheDentist" value="No">
                        </div>
                      </td>
                    </tr>
                    <tr class="active">
                      <td colspan="3" style="color: blue">
                        In the past 6 months:
                      </td>
                    </tr>
                    <tr>
                      <td>Have you had an injection, vaccination or inocculation?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadVaccination" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadVaccination" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>Have you ever taken Roaccutane, Proscar-, Androcur, Propecia or Avodart or been exposed to industrial
                        chemicals at work?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="exposedToInductrialChemicals" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="exposedToInductrialChemicals" value="No">
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td>Have you been ill, received any treatment or taken any medication?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="receivedTreatment" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="receivedTreatment" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>Have you been under a doctor's care, undergone surgery or a diagnostic procedure, suffered a major
                        illness?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="undergoneSurgery" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="undergoneSurgery" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>Have you had an accidental exposure to blood or body fluids?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="exposedToBlood" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="exposedToBlood" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>Have you been tattooed, had ear/body piercing, acupuncture, circumcision, scarification, "blood sharing"?</td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadPiercing" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadPiercing" value="No">
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="ui right stackable two column grid">
            <div class="row">
              <div class="column">
                <table class="ui compact table">
                  <thead class="full-width">
                    <tr>
                      <th>Question</th>
                      <th>Yes</th>
                      <th>No</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td>
                        Have you ever had yellow jaundice (except jaundice at birth), hepatitis or liver disease?
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="hadHepatitisBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="hadHepatitisBefore" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        In the past 6 months, have you had close contact with a person with yellow jaundice or viral hepatitis, or have you been
                        given hepatitis B immunoglobulin?
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="givenHepatitisBinlast6Months" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="givenHepatitisBinlast6Months" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Have you had malaria in the past 36 months?
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="hadMalariaInPast36Months" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="hadMalariaInPast36Months" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Have you visited a malaria area in the past 3 weeks?
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="visitedMalariaAreainPast3Weeks" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="visitedMalariaAreainPast3Weeks" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Have you ever received a tissue or organ transplant , e.g cornea, dura mater, kidney, liver, organ transplant?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadTissueTransplantBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadTissueTransplantBefore" value="No">
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        Have you ever injections of human pituiary growth hormone or pituitary gonadotrophin (fertility medicine) or seen a neurosurgeon
                        or a neurologist?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadFertilityMedicineBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadFertilityMedicineBefore" value="No">
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        From 1980 to 1996, did you spend time that adds up to 12 months in the United Kingdom (England, Whales, Scotland, Ireland,
                        The Channel Islands or Isle of Man)?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="timeInUK12months" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="timeInUK12months" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td colspan="3">
                        <br/>
                      </td>
                    </tr>

                    <tr class="active">
                      <td colspan="3" style="color: blue">
                        Female Donors only:
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Are you breast-feeding?
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="breastFeeding" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio custom-radio">
                          <input type="radio" name="breastFeeding" value="No">
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        Are you pregnant or have you been pregnant in the last 6 months?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="pregnant" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="pregnant" value="No">
                        </div>
                      </td>
                    </tr>



                  </tbody>
                </table>
              </div>


              <div class="column">
                <table class="ui compact table">
                  <thead class="full-width">
                    <tr>
                      <th>Question</th>
                      <th>Yes</th>
                      <th>No</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr class="active">
                      <td colspan="3" style="color: blue">
                        Do you have or have you ever had:
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Rheumatic fever, chest pains, heart disease/surgery or a stroke?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadHeartDiseaseBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadHeartDiseaseBefore" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Lung disease, asthma, tuberculosis (TB), or coughed up blood?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadLungDiseaseBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadLungDiseaseBefore" value="No">
                        </div>
                      </td>
                    </tr>


                    <tr>
                      <td>
                        Cancer, a blood disease, an abnormal bleeding disorder, a bleeding gastric, duodenal ulcer?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadBloodDiseaseBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadBloodDiseaseBefore" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Diabetes, thyroid disease, kidney disease, epilepsy?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadThyroidDiseaseBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadThyroidDiseaseBefore" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Severe allergy or skin rashes?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadSkinDiseaseBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadSkinDiseaseBefore" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Chagas disease, babesiosis, HTLV-1 or any other chronic infectious disease?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadChagasDiseaseBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadChagasDiseaseBefore" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Any other chronic medical condition? E.g hypertension
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadChronicMedicalConditionBefore" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadChronicMedicalConditionBefore" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Have you or your close relative(s) had an unexplained neurological condition or been diagnosed with Creutzfeldt-Jakob disease
                        (Mad Cow disease)?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadRelativeWithCJD" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="hadRelativeWithCJD" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr class="active">
                      <td colspan="3" style="color: blue">
                        Have you or your sexual partner:
                      </td>
                    </tr>

                    <tr>
                      <td>
                        In the past 12 months suffered from night sweats, unintentional weight loss, persistent fever, diarrhoea or swollen glands?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="sufferedFromDiarrhoeaPast12Months" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="sufferedFromDiarrhoeaPast12Months" value="No">
                        </div>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        In the past 6 months received a blood transfusion or treatment with human or animal blood products or clotting factors?
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="receivedBloodTransInLast6Months" value="Yes">
                        </div>
                      </td>
                      <td>
                        <div class="ui radio">
                          <input type="radio" name="receivedBloodTransInLast6Months" value="No">
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br/>

          <div class="ui animated button fade red right large" (click)="(changePage('.health_info'))">
            <div class="visible content">Next</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </div>
        </div>
        <!-- END -->

        <!-- RISK BEHAVIOUR SEGMENT -->
        <div class="riskBeaviour tab ui segment" data-tab="riskBeaviour">
          <div class="ui">

            <h5 class="ui dividing red header">RISK BEHAVIOUR QUESTIONNAIRE: Though personal, these questions do not mean to offend, but rather identify potential
              risk to the patient</h5>
            <table class="ui compact table">
              <thead>
                <tr>
                  <th>Question</th>
                  <th>Yes</th>
                  <th>No</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Do you or your partner have Hepatitis B, Hepatitis C, Syphilis or AIDS; Are you HIV positive; or are you taking anti-retroviral
                    drugs?
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="HIVorARVSwithPartner" value="Yes">
                    </div>
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="HIVorARVSwithPartner" value="No">
                    </div>
                  </td>
                </tr>


                <tr>
                  <td>
                    Is your main reason for donating blood to undergo an HIV test?
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="donateReasonForHIVTest" value="Yes">
                    </div>
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="donateReasonForHIVTest" value="No">
                    </div>
                  </td>
                </tr>
                <tr class="active">
                  <td colspan="3" style="color: blue">
                    In the past 6 months:
                  </td>
                </tr>


                <tr>
                  <td>
                    Have you had sexual activity with or without a condom with more than one partner, had casual sex, or had sex with someone
                    whose sexual background you don't know?
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="uncertainSexualActivity" value="Yes">
                    </div>
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="uncertainSexualActivity" value="No">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    Have you had a victim of sexual assult (e.g rape)?
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="sexualAssaultVictim" value="Yes">
                    </div>
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="sexualAssaultVictim" value="No">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    Have you had a sexual activity with a male or female prostitute, escort or sex worker, or exchanged money, drugs, goods or
                    favours in return for sex?
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="sexWithProstitute" value="Yes">
                    </div>
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="sexWithProstitute" value="No">
                    </div>
                  </td>
                </tr>

                <tr class="active">
                  <td colspan="3" style="color: blue">
                    General
                  </td>
                </tr>

                <tr>
                  <td>
                    In the past 12 months: Have you suffered from sexually transmitted infection (STI) e.g. Syphilis, Gonorrhoea, Genital Ulcer,
                    "VD" or "Drop"?
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="sufferedFromSTI12months" value="Yes">
                    </div>
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="sufferedFromSTI12months" value="No">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    Have you injected yourself or been injected with illegalor non-prescribed drugs, even a long time ago or even once?
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="injectedWithDrugs" value="Yes">
                    </div>
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="injectedWithDrugs" value="No">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>
                    To your knowledge, could your sex partner have been involved in any of the activities listed above?
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="uncertainOfPartnerSexualPast" value="Yes">
                    </div>
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="uncertainOfPartnerSexualPast" value="No">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="3"><br/></td>
                </tr>

                <tr class="positive">
                  <td>
                    Do you consider your blood safe for transfusion to a patient?
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="bloodSafeForTransfusion" value="Yes">
                    </div>
                  </td>
                  <td>
                    <div class="ui radio">
                      <input type="radio" name="bloodSafeForTransfusion" value="No">
                    </div>
                  </td>
                </tr>


              </tbody>
            </table>
          </div>
          <br/>
          <div class="ui animated button fade red right large" (click)="(changePage('.riskBeaviour'))">
            <div class="visible content">Next</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </div>

        </div>

        <!-- END -->

        <!-- Declaration SEGMENT -->
        <div class="declarationInfo tab ui segment" data-tab="declarationInfo">
          <h5 class="ui dividing red header">DECLARATION: Please Read this section carefully & agree before submiting the form</h5>

          <ul class="ui list large">
              <li>I have read and understood the information in the brochure "Donate blood for the right reasons".</li>
              <li>I confirm that to the best of my knowledge and understanding, i have answered all the questions accurately and truthfully and do not consider myself to be involved in any of the described activities that could place me at risk of spreading HIV/AIDS or hepatitis.</li>
              <li>
                I understand that any wilfull misrepresentation of the facts could endanger the patients recieving my blood.
              </li>
              <li>
                I'm aware that my blood will be screened for HIV, hepatitis B, hepatitis C, syphilis. I understand that screening tests are not diagnostic and may yield false positive results. I understand that should any of the screening tests give a reactive result, I will be contacted, utilising the information i have supplied, and offered counselling to make an informed decision about further confirmatory testing and management.
              </li>
              <li>
                I am donating my blood on the understanding that it will be utilized by the Blood Transfusion Service of Namibia for the benefit of patients. I accept that blood will be used, at the discretion of Blood Transfusion Services of Namibia; for transfusion, for the preparation of reagents, or for scientific research, the main objective of which is to increase the safety of the blood supply to patients.
              </li>
              <li>
                I understand the blood donation process and the possible risks involved as explained.
              </li>
              <li>
                I confirm that I am over the age of 16 years.
              </li>
              <li>
                I undertake that at any stage there be any reason to deem my blood not safe for use, I will immediately inform the Blood Transfusion Service of Namibia. <a href="tel:061386300">Tel : 061 386 300 </a>
              </li>
              <li>
                I understand that if I should become ill with 14 days of donating blood, or I am diagnosed (by my doctor or clinic) with hepatitis or HIV infection within 6 months of making a blood donation, I must notify the Blood transfusion Service of Namibia immediately <a href="tel:061386300">Tel : 061 386 300 </a>
              </li>
            </ul>
            <div class="ui segment inline field red">
                <div class="ui checkbox">
                  <input type="checkbox" name="terms">
                  <label>I have carefully read and understoo the above declaration and hereby agree to it: </label>
                </div>
              </div>

              <br/>

          <div class="ui animated button fade green right large" (click)="(submitForm(donorForm.value))">
            <div class="visible content">Submit Form</div>
            <div class="hidden content">
                <i class="check circle icon"></i>
            </div>
          </div>

        </div>

        <!-- END -->


      </form>
    </div>

  </div>
</div>
