<div class="ui middle aligned blurring center aligned grid request content">
  <div class="ui segment">
    <br/>
    <div class="ui segment">
      <h1 id="chart-container center Bold">Request Blood</h1>
      <br/>
      <br/>
      <br/>
      <!--  Request  -->
      <div class="ui container">
        <form class="ui form" [formGroup]="requestForm" novalidate>
          <div class="ui form">
            <div class="four fields">
              <div class="field">
                <label>Requestor: </label>
                <strong style="color: red">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</strong>
              </div>
              <div class="field">
                <label>Select Blood Type:</label>
                <select class="ui dropdown fluid search" id='blood_type'>
                  <option value=""></option>
                  <option value="O-">O-</option>
                  <option value="O+">O+</option>
                  <option value="A-">A-</option>
                  <option value="A+">A+</option>
                  <option value="B-">B-</option>
                  <option value="B+">B+</option>
                  <option value="AB-">AB-</option>
                  <option value="AB+">AB+</option>
                </select>
              </div>
              <div class="field">
                <label>Enter Amount (l)</label>
                <input type="number" formControlName="amount" placeholder="litres">
              </div>
              <div class="three ui calendar date wide field required" id="date">
                <label>Date</label>
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" id='dateValue' formControlName="date" placeholder="Date">
                </div>
              </div>
            </div>
          </div>
          <div class="ui right actions" style="margin-left: 85% !important;">
            <div class="ui green button right" (click)='request(requestForm.value)'>Request</div>
          </div>
        </form>
      </div>
      <!--  Request  ends -->
      <!-- - - - Logs - - - - -->
      <div class="ui inverted">

        <h2 class="header">
          Blood Requests Logs for <span class="ui red" style="color: red">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</span>

        </h2>
        <div class="ui container">
          <div class="content">
              <table class="ui red table inverted">
                <thead>
                  <tr>
                    <th>Blood Type</th>
                    <th>Amount</th>
                    <th>Available Blood</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let action of actions">
                    <td>{{action.blood_type || N/A}}</td>
                    <td>{{action.amount || N/A}} litres</td>
                    <td>N/A</td>
                    <td>Accepted</td>
                    <td>{{action.date || N/A}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>

      <!-- - - - - Logs End - - - - - -->
    </div>
  </div>

  <div class="ui page dimmer requestLoader" style="height: 100000px !important">
    <div class="content">
      <div class="center">
        <div class="ui inverted">
          <h2>Requesting</h2>
          <i class="huge icons">
            <i class="big spinner loading icon"></i>
            <i class="question icon"></i>
          </i>
          <h4 class="ui red">Please Wait..</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="ui page dimmer confirmRequest">
    <div class="content">
      <div class="center">
        <div class="ui inverted segment">
          <div class="ui header">Request Blood from Donors?</div>
          <div class="ui center">
              <div class="ui button negative" (click)='closeDimmer(".ui.confirmRequest")'>No</div>
              <div class="ui button positive" (click)='RequestBlood()'>Yes</div>
          </div>
        </div>
      </div>
    </div>
  </div>
